@borderButtonColor: #D9B860;
@font: Georgia, serif;
@lineColor: #CCC;
@italicColor: #817F7F;
@greyFontColor: #4E4E4E;

body {
	background-color: #7F7F7F;
	font-family: @font;
	font-size: 76%;
	padding-top: 10px;
	
	.container {
			width: 790px;
			margin: auto;
			background-color: #FFFFFF;
			border-top:solid thick @borderButtonColor;
			border-bottom: solid thick @borderButtonColor;
			
		.mainpage {
			margin-left: 30px;
			margin-right: 30px;
			padding: 0px;
			font-size: 90%;
		}
		
		.header {
			border-bottom: 1px solid @lineColor;
			overflow: hidden;
			
			h1 {
				padding-bottom: 0px;
				margin-bottom: 20px;
				
				img {
						width: 195px;
						height: 34px;
					}
			}
			
			p {
				border-left: 1px solid @lineColor;
				margin-top: 15px;
				padding: 10px 20px;
				font-style: italic;
				color: @italicColor;
			}
			
			p, h1 {
				float: left;
			}
			
			ul {
				float: right;
				margin-top: 27px;
				list-style-type: none;
				
				li{
					padding-left: 5px;
				
					a {
						text-decoration: none;
						border:1px solid #CCCCCC;
						color: black;
						padding: 3px 10px;
					}
					
					a:hover {
						border:1px solid @borderButtonColor;
						color: white;
						background-color: @borderButtonColor;
					}
				}
			}
			
			h1, ul {
				padding: 0px 20px;
			}
			
			h1, p, li {
				display: inline;
			}
		}		
		.subheader {
			border-bottom: 1px solid @lineColor;
			background-color: #F2F2F2;
			overflow: hidden;
			
			h2 {
				text-decoration: none;
				font-size: 185%;
				font-weight: normal;
				font-style: normal;
			}
			
			p {
				color: @greyFontColor;
				line-height: 20px;
				letter-spacing: 0.2px;
				font-size: 110%;
			}
			
			.sec{
				width: 225px;
				float: left;
				padding-left: 15px;
			}
		}
		.content {
			overflow: hidden;
		
			.first_container {
				border-bottom: 1px solid @lineColor;
				padding: 0px 15px;
				
				h3 {
					font-size: 250%;
					font-weight: normal;
				}
				
				p {
					width: 300px;
					line-height: 18px;
					letter-spacing: 0.2px;
					font-size: 110%;
				}
				
				a {
					color: black;
				}
				
				a:hover {
					color: white;
					background-color: @borderButtonColor;
					text-decoration: none;
				}
				
				ul {
					padding: 0;
					margin: 30px 0px 50px 0px;
					list-style-type: none;
					
					li{
					
						a {
							text-decoration: none;
							border:1px solid #CCCCCC;
							color: black;
							padding: 3px 10px;
						}
						
						a:hover {
							border:1px solid @borderButtonColor;
							color: white;
							background-color: @borderButtonColor;
						}
					}
				}
				
				img {
					float: right;
					padding: 0;
					margin: 0;
				}
			}
		}
		.second_container {
			margin-bottom: 50px;
		
			.left_side {
				display: inline-block;
				overflow: hidden;
				padding-top: 15px;
				padding-right: 55px;
				border-right: 1px solid @lineColor;
			
				img {
					margin: 0px 15px;
					float: left;
					border:1px solid #CCCCCC;
					padding: 5px 5px;
				}
				
				.news {
				
					a {
						color: black;
					}
					
					a:hover {
						color: white;
						background-color: @borderButtonColor;
						text-decoration: none;
					}
					
					h2 {
						font-style: italic;
						font-size: 100%;
						color: @italicColor;
					}
					
					h3 {
						font-size: 150%;
					}
					
					h2, h3 {
						font-weight: normal;
					}
					
					p {
						width: 250px;
						line-height: 18px;
						letter-spacing: 0.2px;
						font-size: 110%;
					}
					
					h2, h3, p {
						padding-left: 150px;
					}
				}
			
			}
			.right_side {
				float: right;
				margin-right: 95px;
				display: inline-block;
				overflow: hidden;
				
				h2 {
						font-style: italic;
						font-weight: normal;
						font-size: 100%;
						color: @italicColor;
						padding-left: 15px;
						margin-top: 30px;
						margin-bottom: 20px;
				}
				
				ul {
					list-style-type: square;
					
					li {
						margin-bottom: 5px;
						color: black;
						
						a {
							color: black;
						}
						
						a:hover {
							color: white;
							background-color: @borderButtonColor;
							text-decoration: none;
						}
						
					}
				}
			}
		}
		.contact_form {
			border-top: 1px solid @lineColor;
			border-bottom: 1px solid @lineColor;
			background-color: #F2F2F2;
			overflow: hidden;
			
			.left {
				width: 230px;
				float: left;
				margin-left: 20px;
				
				h2 {
					font-weight: normal;
					font-size: 180%;
				}
				
				p {
					color: @greyFontColor;
					line-height: 20px;
					letter-spacing: 0.2px;
				}
			}
			
			.center {
				float: left;
				margin-left: 50px;
				
				input {
				}
				
			}
			
			.right {
				float: right;
				margin-right: 60px;
				margin-bottom: 20px;
				
				textarea {
					min-width: 100px;
					max-width: 180px;
					height: 70px;
				}
				
				form input {
					border:1px solid #CCCCCC;
					color: black;
					padding: 3px 10px;
					background-color: white;
					font-family: @font;
					font-size: 88%;
				}
				
				form input:hover {
					border:1px solid @borderButtonColor;
					color: white;
					background-color: @borderButtonColor;
				}	
			}
			
			.center, .right {
				width: 135px;
				margin-top: 15px;
				font-size: 115%;
			}
			
			.center input, textarea {
				width: 160px;
				margin: 10px 0px 10px 0px;
			}
		}
		.footer {
			overflow: hidden;
			border-top: 1px solid @lineColor;
			margin-top: 30px;
			
			p {
				float: left;
				color: @italicColor;
				margin: 20px 0px 30px 15px;
				
				span {
					color: black;
				}
			}
			
			a {
					color: black;
				}
			
			ul {
				float: right;
				list-style-type: none;
				margin: 30px 15px 0px 0px;
				
				li{
					display: inline;
					margin: 3px 0px 0px 3px;
				
					a {
						color: black;
					}
					
					a:hover {
						color: white;
						background-color: @borderButtonColor;
						text-decoration: none;
					}
				}
			}
		}
	}
}
footer {
	text-align: center;
	color: #605757;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	word-spacing: 3px;
	margin-bottom: 30px;
	
	.copyright a:visited {
		color:#605757;
	}
}
